#cabezote{
    background-color: var(--cielo);
    height: 4rem;
    position: fixed;
    z-index: 100;
}

.menu__areas{
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}


